* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --text-color: #000000;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

main {
  flex: auto;
}

#opponent-setup {
  display: none;
}

#player-gameboard,
#opponent-gameboard {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);

  .cell {
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#player-gameboard,
#opponent-gameboard {
  .adjacent {
    background-color: lightgray;
  }

  .ship {
    background-color: gray;
  }

  .miss {
    background-color: lightblue;
  }

  .hit {
    background-color: rgb(219, 119, 119);
  }

  .sunk {
    background-color: rgb(128, 28, 28);
  }
}

.modal {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
}

.pass-turn.modal {
  background-color: rgb(255, 255, 255);
  display: none;
}

.modal > .modal-content {
  z-index: 3;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  width: 450px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gh-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 38px;
}

#gh-logo {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
  transform: rotate(360deg) scale(1.2);
}

html {
  visibility: visible;
  opacity: 1;
}
