@import '../node_modules/@perugi/css-reset/reset.css';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --text-color: #000000;
  --cell-size: 40px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

main {
  flex: auto;
}

.opponent-setup {
  display: none;
}

.ship-placing-area {
  display: flex;

  .unplaced-ships {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 235px;

    .unplaced-ship {
      margin: 5px 0 5px 0;
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0.2);
      height: var(--cell-size);
      width: var(--cell-size);

      &.hidden {
        /* We cannot just display: none these elements, because that causes the other
  unplaced ships to move, so we just make it transparent. */
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

.dragged-ship {
  display: none;
  position: absolute;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  height: var(--cell-size);
  width: var(--cell-size);

  &.dragging {
    display: block;
  }
}

.player-area,
.opponent-area {
  &.inactive {
    opacity: 0.5;
  }
}

.ship-status {
  .ship {
    display: flex;
    margin: 3px 0;

    .cell {
      height: calc(var(--cell-size) / 5);
      width: calc(var(--cell-size) / 5);
      background-color: gray;
      margin: 1px;
    }

    &.sunk {
      .cell {
        background-color: rgb(219, 119, 119);
      }
    }
  }
}

.gameboard {
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  position: relative;

  .gameboard-row {
    display: flex;
    flex-direction: row;
  }

  .header-cell {
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px 0 0 -1px;
  }

  .gameboard-cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px 0 0 -1px;

    &.adjacent {
      background-color: lightgray;
    }

    &.ship {
      background-color: gray;
    }

    &.miss {
      background-color: lightblue;
    }

    &.hit {
      background-color: rgb(219, 119, 119);
    }

    &.sunk {
      background-color: rgb(128, 28, 28);
    }
  }

  .placed-ship {
    position: absolute;
    border: 2px solid black;
    height: calc(var(--cell-size));
    width: calc(var(--cell-size));

    &.hidden {
      display: none;
    }
  }

  .ship-placement-indicator {
    display: none;
    position: absolute;
    height: calc(var(--cell-size));
    width: calc(var(--cell-size));
    border: 2px solid lightgreen;
    background-color: rgba(144, 238, 144, 0.5);

    &.active {
      display: block;
    }
  }
}

.opponent-area {
  .gameboard-cell {
    &:not(.hit):not(.miss):not(.adjacent):hover::before {
      content: 'X';
    }

    &:not(.hit):not(.miss):not(.adjacent):hover {
      cursor: pointer;
    }
  }
}

.modal {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;

  .modal-content {
    z-index: 3;
    background-color: rgb(255, 255, 255);
    padding: 16px;
    width: 450px;
  }
}

.pass-turn.modal {
  background-color: rgb(255, 255, 255);
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gh-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 38px;
}

#gh-logo {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
  transform: rotate(360deg) scale(1.2);
}

html {
  visibility: visible;
  opacity: 1;
}
