@import '../node_modules/@perugi/css-reset/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=block');

:root {
  --text-color: #000000;
  --bg-color: #ffffff;
  --accent-color: #f0f0f0;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --adjacent-color: #d4d4d4;
  --ship-color: #808080;
  --miss-color: #add8e6;
  --hit-color: #db7777;
  --sunk-color: #801c1c;
  --ship-placement-border-color: #90ee90;
  --ship-placement-bg-color: rgba(144, 238, 144, 0.5);
  --modal-bg-color: rgba(0, 0, 0, 0.3);
  --cell-size: 40px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  font-weight: 700;
}

main {
  flex: auto;
}

header {
  font-family: 'Bebas Neue', serif;
  font-size: clamp(5rem, 20vw, 10rem);
  font-weight: 900;
  margin: 0 auto;

  &.small {
    font-size: 5rem;
  }
}

main {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.gamemode-select-div {
  display: flex;
  margin: 20px;
  justify-content: space-between;

  .gamemode-select {
    font-family: 'Bebas Neue', serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid transparent;

    &.active {
      border: 3px solid var(--text-color);
    }

    &:not(.active) {
      box-shadow: none;
    }

    &:hover {
      color: var(--text-color);
    }
  }
}

.player-setup,
.opponent-setup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  input[type='text'] {
    font-size: 1rem;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 2px;
    box-shadow: inset 0 2px 4px var(--shadow-color);
    width: min(100%, 300px);
  }
}

.opponent-setup {
  display: none;
}

.create-players {
  margin-top: 20px;
}

button {
  padding: 0.8em 1.5em;
  cursor: pointer;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  font-weight: 700;

  &:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  &:active {
    transform: translateY(2px);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: var(--bg-color);
      color: var(--text-color);
    }

    &:active {
      transform: none;
    }
  }
}

.game-guidance {
  background-color: var(--accent-color);
  padding: 0.5em 1em;
  margin-bottom: 30px;
}

.ship-placing-area {
  display: flex;

  .unplaced-ships {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 235px;

    .unplaced-ship {
      margin: 5px 0 5px 0;
      border: 2px solid var(--text-color);
      background-color: var(--shadow-color);
      height: var(--cell-size);
      width: var(--cell-size);

      &.hidden {
        visibility: hidden;
      }
    }
  }
}

.placing-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.dragged-ship {
  display: none;
  position: absolute;
  border: 2px solid var(--text-color);
  background-color: var(--shadow-color);
  height: var(--cell-size);
  width: var(--cell-size);

  &.dragging {
    display: block;
  }
}

.gameboards {
  display: flex;
  gap: 40px;

  .player-area,
  .opponent-area {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;

    h1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
    }

    .ship-status {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      position: relative;
      top: calc(var(--cell-size));

      .ship {
        display: flex;
        margin: 3px 0;

        .cell {
          height: calc(var(--cell-size) / 5);
          width: calc(var(--cell-size) / 5);
          background-color: var(--ship-color);
          margin: 1px;
        }

        &.sunk {
          .cell {
            background-color: var(--hit-color);
          }
        }
      }
    }

    .gameboard {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  .opponent-area {
    h1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .gameboard {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    .ship-status {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  .player-area.inactive,
  .opponent-area.inactive {
    .ship-status,
    .gameboard {
      opacity: 0.5;
    }
  }
}

.pause-game {
  margin-top: 30px;
}

.pause.modal > .modal-content,
.game-over.modal > .modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .game-winner,
  .modal-title {
    display: flex;
    justify-content: center;
  }

  .modal-buttons {
    display: flex;
    gap: 10px;
  }
}

.gameboard {
  grid-template-columns: repeat(10, var(--cell-size));
  grid-template-rows: repeat(10, var(--cell-size));
  position: relative;

  .gameboard-row {
    display: flex;
    flex-direction: row;
  }

  .header-cell {
    font-family: 'Bebas Neue', serif;
    font-size: 1.5rem;
    font-weight: 500;
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px 0 0 -1px;
    user-select: none;
  }

  .gameboard-cell {
    height: var(--cell-size);
    width: var(--cell-size);
    font-size: 1.5rem;
    border: 1px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px 0 0 -1px;

    &.adjacent {
      background-color: var(--adjacent-color);
    }

    &.ship {
      background-color: var(--ship-color);
    }

    &.miss {
      background-color: var(--miss-color);

      &::before {
        content: '•';
      }
    }

    &.hit {
      background-color: var(--hit-color);

      &::before {
        content: 'X';
      }
    }

    &.sunk {
      background-color: var(--sunk-color);
    }
  }

  .placed-ship {
    position: absolute;
    border: 2px solid var(--text-color);
    height: calc(var(--cell-size));
    width: calc(var(--cell-size));

    &.hidden {
      display: none;
    }
  }

  .ship-placement-indicator {
    display: none;
    position: absolute;
    height: calc(var(--cell-size));
    width: calc(var(--cell-size));
    border: 2px solid var(--ship-placement-border-color);
    background-color: var(--ship-placement-bg-color);

    &.active {
      display: block;
    }
  }
}

.opponent-area {
  .gameboard-cell {
    &:not(.hit):not(.miss):not(.adjacent):hover::before {
      content: 'X';
    }

    &:not(.hit):not(.miss):not(.adjacent):hover {
      cursor: pointer;
    }
  }
}

.opponent-area {
  .gameboard-cell {
    &.adjacent:not(.hit):not(.miss)::before {
      content: '•';
      color: var(--ship-color);
    }
  }
}

.modal {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg-color);
  align-items: center;
  justify-content: center;

  .modal-content {
    z-index: 3;
    background-color: var(--bg-color);
    padding: 16px;
    width: auto;
  }
}

.pass-turn.modal {
  background-color: var(--bg-color);
  display: none;
}

@media (max-width: 1200px) {
  .gameboards {
    flex-direction: column;

    .player-area,
    .opponent-area {
      grid-template-columns: auto 1fr;
      .gameboard {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }

      .ship-status {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        top: 0;
      }

      h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: center;
      }
    }
  }
}

@media (max-width: 900px) {
  .ship-placing-area {
    flex-direction: column;
    align-items: center;

    .unplaced-ships {
      width: 70%;
      display: flex;
      gap: 10px;
      flex-direction: row;
      justify-content: start;
      flex-wrap: wrap;
      margin-right: 0;
    }
  }

  .placing-buttons {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gh-link {
  font-family: 'Bebas Neue', serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0;
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
  height: 38px;
}

#gh-link > div:first-child {
  width: 130.88px;
  text-align: end;
}

#gh-logo {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
  transform: rotate(360deg) scale(1.2);
}

html {
  visibility: visible;
  opacity: 1;
}
